
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/cfaa32891d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>Official Store - Rene</title>

    <meta name="description" content="Explore the official store of Rene - Find the latest in fashion, accessories, and more.">
    <meta name="keywords" content="Rene, Fashion, Official Store, Accessories">
    <meta name="author" content="@nnnocturn">

    <meta property="og:title" content="Official Store - Rene">
    <meta property="og:description" content="Discover the world of Rene. Shop the latest trends and accessories.">
    <meta property="og:image" content="{% static 'img/store.png' %}">
    <meta property="og:url" content="https://www.renecloth.com/">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ReneStore"> <!-- Replace with your Twitter handle -->
    <meta name="twitter:title" content="Discover the Latest in Fashion at Rene">
    <meta name="twitter:description" content="Step into style with Rene's new collection. Explore our exclusive range of designer wear and accessories.">
    <meta name="twitter:image:src" content="{% static 'img/IMG_3060.avif' %}"> <!-- Replace with a URL to an image of your latest collection -->
    <meta name="twitter:creator" content="@nnnocturn"> 
</head>
<body>
  {% include 'navbar.html' %}
  <main>
    <div class="container">
      <div class="row">
        {% include 'sidebar.html' %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>
    {% include 'footer.html'%}
</body>
<script>
  // JavaScript to handle changing the selected currency
  document.addEventListener('DOMContentLoaded', function() {
      const dropdownItems = document.querySelectorAll('.dropdown-item');
      const dropdownToggle = document.querySelector('.dropdown-toggle');

      dropdownItems.forEach(function(item) {
          item.addEventListener('click', function() {
              dropdownToggle.textContent = this.textContent;
          });
      });
  });
</script>
</html>