{% extends 'base.html' %}
{% block content %}
<div class="col-lg-10 justify-content-center">
    <div class="banner">
      <a href="/">
        <img class="placeholder" src="../static/img/Baner.avif" style="width:100%; height:100%;" alt="Banner Image" />
      </a>
  </div>
  <h2 class="text-center mt-3">New Arrivals</h2>
  <div class="row">
    <div class="col">
        <a href="/product/1">
      <div class="card text-center">
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          </div>
          <div class="carousel-inner">
            <div id="modelContainer" class="carousel-item active">
              <!-- Initially visible -->
              <img id="loadingImage" src="../static/img/IMG_3060.avif" class="d-block card-img-top carousel-img-small" alt="Image 4">
              
              <!-- Initially hidden -->
              <div id="sceneContainer" class="d-block w-100 card__img text-center scene" style="display: none;"></div>
            </div>
            <div class="carousel-item">
                <img src="../static/img/IMG_3058.avif" class="d-block card-img-top carousel-img-small" alt="Image 2">
            </div>
            <div class="carousel-item">
                <img src="../static/img/IMG_3059.avif" class="d-block card-img-top carousel-img-small" alt="Image 3">
            </div>
            <div class="carousel-item">
                <img src="../static/img/IMG_3055.avif" class="d-block card-img-top carousel-img-small" alt="Image 4">
            </div>            
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="card-body">
          <h2 class="card-title">“SWEATY KITTIES”</h2>
          <p id="productprice" class="card-text">140</p>
        </div>
      </div>
    </a>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
let slideIndex = 0;
showSlides(slideIndex);

$('.dot').click(function() {
  slideIndex = $(this).index();
  showSlides(slideIndex);

});

function showSlides(index) {
  $('.slide').hide();
  $('.slide').eq(index).show();
  $('.dot').removeClass('active');
  $('.dot').eq(index).addClass('active');
}
});
</script> <!-- Include your JavaScript file -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js'></script><script  src="../static/js/script.js"></script>
{% for product in products %}
{% endfor %}
{% endblock %}