{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="col-lg-10 mt-5 justify-content-center">
    <div class="row g-0">
        <div class="col-md-6 border-end">
            <div class="d-flex flex-column justify-content-between preview">
                <div class="preview">
                    <!-- Large Image -->
                    
                    <div class="mb-3">
                        <img src="{% static 'img/IMG_3055.PNG' %}" class="img-fluid" id="main-image" alt="Main Image" />
                    </div>
                    <!-- Small Thumbnails -->
                    <div class="d-flex justify-content-start thumbnail-container">
                        <img src="{% static 'img/IMG_3055.PNG' %}" class="img-thumbnail small-image" data-img-src="{% static 'img/IMG_3055.PNG' %}" alt="Thumbnail 1" />
                        <img src="{% static 'img/IMG_3058.PNG' %}" class="img-thumbnail small-image" data-img-src="{% static 'img/IMG_3058.PNG' %}" alt="Thumbnail 2" />
                        <img src="{% static 'img/IMG_3059.PNG' %}" class="img-thumbnail small-image" data-img-src="{% static 'img/IMG_3059.PNG' %}" alt="Thumbnail 3" />
                        <img src="{% static 'img/IMG_3060.PNG' %}" class="img-thumbnail small-image" data-img-src="{% static 'img/IMG_3060.PNG' %}" alt="Thumbnail 4" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="details p-3">
                <h3 class="product-title">{{ product.name }}</h3>
                <form action="{% url 'add_to_cart' %}" method="post">
                    {% csrf_token %}
                    <div class="quantity mt-2 d-flex align-items-center">
                        <label for="quantity" class="me-2">Quantity:</label>
                        <button class="btn btn-secondary btn-sm" id="decrease-quantity" type="button">-</button>
                        <input type="number" id="quantity" name="quantity" min="1" max="100" value="1" class="form-control mx-2" style="width: 60px;">
                        <button class="btn btn-secondary btn-sm" id="increase-quantity" type="button">+</button>
                    </div>
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <p class="product-description">{{ product.description }}</p>
                    <h4 class="price">
                        Current price: <span class="new-price">{{ product.updated_price }}</span>
                    </h4>
                    <h4 class="old-price">
                        <s>Was: {{ product.price }}</s>
                    </h4>
                    <div class="action mt-3">
                        <button type="submit" class="add-to-cart btn btn-primary">Add to Cart</button>
                        <a href="https://buy.stripe.com/aEUdSBeQo3NigWQbII" class="btn btn-primary">Buy now</a>
                    </div>
                </form>
            </div>
        </div>        
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const mainImage = document.getElementById('main-image');
    const thumbnails = document.querySelectorAll('.small-image');

    thumbnails.forEach(img => {
        img.addEventListener('click', function() {
            mainImage.src = this.dataset.imgSrc;
        });
    });
});

document.getElementById('increase-quantity').addEventListener('click', function() {
    var quantityInput = document.getElementById('quantity');
    var currentQuantity = parseInt(quantityInput.value);
    quantityInput.value = currentQuantity + 1;
});

document.getElementById('decrease-quantity').addEventListener('click', function() {
    var quantityInput = document.getElementById('quantity');
    var currentQuantity = parseInt(quantityInput.value);
    if (currentQuantity > 1) {
        quantityInput.value = currentQuantity - 1;
    }
});
</script>

{% endblock %}