{% extends 'base.html' %}
{% block content %}
<div class="col-lg-10 mt-5 justify-content-center">
    <h2 class="mt-5 text-center">Shipping policy</h2>
    <div class="shopify-policy__body text-center">
        <div class="text-center"><strong style="font-weight:normal;">Racer Tracking Portal</strong></a>.<br></span>Free worldwide shipping on all orders above €200.</p>
    <p class="text">For orders below <span>€</span>200:</p>
    <span> </span>
    <div class="text-center">
        <table class="mx-auto" style="width: 80%;">
    <tbody>
    <tr style="height:30px;"></tr>
    <tr style="height:13px;">
    <td style="width:290px;height:13px;"><b>REGION/COUNTRY</b></td>
    <td style="width:62.4254px;text-align:center;height:13px;"><strong>DAYS</strong></td>
    <td style="width:135.575px;height:13px;text-align:right;"><strong>PRICE</strong></td>
    </tr>
    <tr style="height:45px;"></tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;"><b>North America</b></td>
    <td style="width:62.4254px;text-align:center;height:17px;"><br></td>
    <td style="width:135.575px;text-align:center;height:17px;"><br></td>
    </tr>
    <tr style="height:10px;"></tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">FedEx Standard</td>
    <td style="width:62.4254px;text-align:center;height:17px;"><span>5</span></td>
    <td style="width:135.575px;height:17px;text-align:right;"><span>€18.5</span></td>
    </tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">FedEx Express<b></b>
    </td>
    <td style="width:62.4254px;text-align:center;height:17px;"><span>3-4</span></td>
    <td style="width:135.575px;height:17px;text-align:right;">
    <span>€21.5</span><strong></strong>
    </td>
    </tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">DHL Express<b></b>
    </td>
    <td style="width:62.4254px;text-align:center;height:17px;">2-3</td>
    <td style="width:135.575px;height:17px;text-align:right;">€24.5<strong></strong>
    </td>
    </tr>
    <tr style="height:45px;"></tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">
    <strong>Germany</strong><b></b>
    </td>
    <td style="width:62.4254px;text-align:center;height:17px;"></td>
    <td style="width:135.575px;height:17px;text-align:left;"><strong></strong></td>
    </tr>
    <tr style="height:10px;"></tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">
    <span>Dpd Pickup Point/to Door</span><br><b></b>
    </td>
    <td style="width:62.4254px;text-align:center;height:17px;">6/5</td>
    <td style="width:135.575px;height:17px;text-align:right;">€10.5/12.5<br><strong></strong>
    </td>
    </tr>
    <tr style="height:18px;text-align:right;">
    <td style="width:290px;height:18px;text-align: center;">
    <span>FedEx Express</span><br><b></b>
    </td>
    <td style="width:62.4254px;height:18px;text-align:center;">2-3</td>
    <td style="width:135.575px;height:18px;text-align:right;">€18.5<br><strong></strong>
    </td>
    </tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">
    <span>DHL Express</span><b></b>
    </td>
    <td style="width:62.4254px;text-align:center;height:17px;">1-2</td>
    <td style="width:135.575px;height:17px;text-align:right;">€20.5<strong></strong>
    </td>
    </tr>
    <tr style="height:45px;"></tr>
    <td style="width:290px;height:17px;text-align:center;"><strong>Netherlands, Belgium, Luxemburg, Slovenia</strong></td>
    <td style="width:62.4254px;height:17px;text-align:left;"></td>
    <td style="width:135.575px;height:17px;text-align:left;"><strong></strong></td>
    </tr>
    <tr style="height:10px;"></tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">Dpd to Pickup Point/Door</td>
    <td style="width:62.4254px;text-align:center;height:17px;">6/5</td>
    <td style="width:135.575px;height:17px;text-align:right;">€13.5/14.5<strong></strong>
    </td>
    </tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">
    <span>FedEx Express</span><b></b>
    </td>
    <td style="width:62.4254px;height:17px;text-align:center;">2-3</td>
    <td style="width:135.575px;height:17px;text-align:right;">€18.5<strong></strong>
    </td>
    </tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">
    <span>DHL Express</span><b></b>
    </td>
    <td style="width:62.4254px;height:17px;text-align:center;"><span>1-2</span></td>
    <td style="width:135.575px;height:17px;text-align:right;">€21.5<strong></strong>
    </td>
    </tr>
    <tr style="height:45px;"></tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">
    <strong>Denmark, Poland, Slovakia,&nbsp;Czechia, Hungary</strong><b></b>
    </td>
    <td style="width:62.4254px;height:17px;text-align:center;"></td>
    <td style="width:135.575px;height:17px;text-align:center;"><strong></strong></td>
    </tr>
    <tr style="height:10px;"></tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">
    <span>Dpd to Pickup Point/Door</span><b></b>
    </td>
    <td style="width:62.4254px;height:17px;text-align:center;"><span>6/5</span></td>
    <td style="width:135.575px;height:17px;text-align:right;">€11.5/12.5<br><strong></strong>
    </td>
    </tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">
    <span>FedEx Express</span><b></b>
    </td>
    <td style="width:62.4254px;height:17px;text-align:center;"><span>2-3</span></td>
    <td style="width:135.575px;height:17px;text-align:right;">€18.5<strong></strong>
    </td>
    </tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">
    <span>DHL Express</span><b></b>
    </td>
    <td style="width:62.4254px;height:17px;text-align:center;"><span>1-2</span></td>
    <td style="width:135.575px;height:17px;text-align:right;">€21.5<br><strong></strong>
    </td>
    </tr>
    <tr style="height:45px;"></tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;"><strong>France, Spain</strong></td>
    <td style="width:62.4254px;height:17px;text-align:center;"></td>
    <td style="width:135.575px;height:17px;"><strong></strong></td>
    </tr>
    <tr style="height:10px;"></tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">Dpd to Door</td>
    <td style="width:62.4254px;height:17px;text-align:center;">5<br>
    </td>
    <td style="width:135.575px;height:17px;text-align:right;">€15.5<br><strong></strong>
    </td>
    </tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">
    <span>FedEx Express</span><b></b>
    </td>
    <td style="width:62.4254px;height:17px;text-align:center;">2-3</td>
    <td style="width:135.575px;height:17px;text-align:right;">€18.5<br><strong></strong>
    </td>
    </tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">
    <span>DHL Express</span><b></b>
    </td>
    <td style="width:62.4254px;height:17px;text-align:center;">1-2</td>
    <td style="width:135.575px;height:17px;text-align:right;">€21.5<br><strong></strong>
    </td>
    </tr>
    <tr style="height:45px;"></tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">
    <strong>Finland, Sweden</strong><b></b>
    </td>
    <td style="width:62.4254px;height:17px;text-align:center;"></td>
    <td style="width:135.575px;height:17px;text-align:center;"><strong></strong></td>
    </tr>
    <tr style="height:10px;"></tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">
    <span>Dpd to Pickup Point/Door</span><b></b>
    </td>
    <td style="width:62.4254px;height:17px;text-align:center;">4/3</td>
    <td style="width:135.575px;height:17px;text-align:right;">€7.5/14.5<strong></strong>
    </td>
    </tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">
    <span>FedEx Express</span><b></b>
    </td>
    <td style="width:62.4254px;height:17px;text-align:center;">2</td>
    <td style="width:135.575px;height:17px;text-align:right;">€18.5<strong></strong>
    </td>
    </tr>
    <tr style="height:45px;"></tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">
    <strong>Latvia, Lithuania</strong><b></b>
    </td>
    <td style="width:62.4254px;height:17px;text-align:center;"></td>
    <td style="width:135.575px;height:17px;"><strong></strong></td>
    </tr>
    <tr style="height:10px;"></tr>
    <tr style="height:18px;">
    <td style="width:290px;height:18px;">
    <span>Dpd to Pickup Point/Door</span><b></b>
    </td>
    <td style="width:62.4254px;height:18px;text-align:center;">4/3</td>
    <td style="width:135.575px;height:18px;text-align:right;">€4.5/7.5<br><strong></strong>
    </td>
    </tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">
    <span>FedEx Express</span><b></b>
    </td>
    <td style="width:62.4254px;height:17px;text-align:center;">2</td>
    <td style="width:135.575px;height:17px;text-align:right;">€16.5<strong></strong>
    </td>
    </tr>
    <tr style="height:45px;"></tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">
    <strong>Estonia</strong><b></b>
    </td>
    <td style="width:62.4254px;height:17px;text-align:center;"></td>
    <td style="width:135.575px;height:17px;"><strong></strong></td>
    </tr>
    <tr style="height:10px;"></tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">
    <span>Dpd to Pickup Point/Door</span><b></b>
    </td>
    <td style="width:62.4254px;height:17px;text-align:center;">3/2</td>
    <td style="width:135.575px;height:17px;text-align:right;">€2.5/5.5<br><strong></strong>
    </td>
    </tr>
    <tr style="height:45px;"></tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;"><strong>Rest of Europe, United Kingdom</strong></td>
    <td style="width:62.4254px;height:17px;text-align:center;"></td>
    <td style="width:135.575px;height:17px;"><strong></strong></td>
    </tr>
    <tr style="height:10px;"></tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;"><span>FedEx Standard</span></td>
    <td style="width:62.4254px;height:17px;text-align:center;">5</td>
    <td style="width:135.575px;height:17px;text-align:right;"><span>€18.5</span></td>
    </tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">FedEx Express<b></b>
    </td>
    <td style="width:62.4254px;height:17px;text-align:center;">2-3</td>
    <td style="width:135.575px;height:17px;text-align:right;">€20.5<br><strong></strong>
    </td>
    </tr>
    <tr style="height:17px;text-align:center;">
    <td style="width:290px;height:17px;">DHL&nbsp;<span>Express</span><b></b>
    </td>
    <td style="width:62.4254px;height:17px;text-align:center;">1-2</td>
    <td style="width:135.575px;height:17px;text-align:right;">€23.5<strong><br></strong>
    </td>
    </tr>
    <tr style="height:45px;"></tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">
    <strong>The Rest of the World</strong><b></b>
    </td>
    <td style="width:62.4254px;height:17px;text-align:center;"></td>
    <td style="width:135.575px;height:17px;"><strong></strong></td>
    </tr>
    <tr style="height:10px;"></tr>
    <tr style="height:17px;">
    <td style="width:290px;height:17px;">FedEx Express</td>
    <td style="width:62.4254px;height:17px;text-align:center;">3-4</td>
    <td style="width:135.575px;height:17px;text-align:right;">€20.5<br><strong></strong>
    </td>
    </tr>
    <tr style="height:17px;text-align:center;">
    <td style="width:290px;height:17px;">DHL Express</td>
    <td style="width:62.4254px;height:17px;text-align:center;">2-3</td>
    <td style="width:135.575px;height:17px;text-align:right;">€30.5</td>
    </tr>
    </tbody>
    </table></div>
    <p class="text-center mt-5">*On products marked as Pre Order production time is added.

        A tracking link will be sent to your email as soon as the order has been shipped. Order processing usually takes less than 24 hours.
        
        Please note that customs fees for orders outside the EU are not included in the shipping price.
        
        Customers may Return a product within 14 days. You can make a return from Racer Return Portal.
        
        Racer Worldwide treats service and shipping seriously, we will make sure that your delivery will be smooth and fast. We would be happy to answer any additional questions you may have.</p>
    <h2 class="text-center">Please contact us via the contact form below:</h2>
        </div>
      </div>
        <div class="text-center">
            <form class="p-3 p-xl-4 text-center" method="post">
                {% csrf_token %} 
                <div class="row mb-3">
                    <div class="col">
                      <input style="background-color: rgb(249, 249, 249);" name="name"  type="text" class="form-control custom-search" placeholder="Your name" aria-label="Your name">
                    </div>
                    <div class="col">
                      <input style="background-color: rgb(249, 249, 249);" name="phone"  type="text" class="form-control custom-search" placeholder="Phone" aria-label="Last name">
                    </div>
                  </div>  
                  <div class="row mb-3">
                    <div class="col">
                      <input style="background-color: rgb(249, 249, 249);"  name="email" type="text" class="form-control custom-search" placeholder="Email" aria-label="First name">
                    </div>
                    <div class="col">
                      <input style="background-color: rgb(249, 249, 249);"   name="order_id" type="text" class="form-control custom-search" placeholder="Order id" aria-label="Last name">
                    </div>
                  </div>                                  
                <div class="mb-3"><textarea name="message" id="message-1" style="background-color: rgb(249, 249, 249);"  class="form-control custom-search" name="message" rows="6" placeholder="Message"></textarea></div>
                <div><button class="btn btn-dark d-block w-100" name="ship_form"  type="submit">Send </button></div>
            </form>
        </div>
</div>
{% endblock %}